%h2 Sign up
= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "well"} do |f|
  = devise_error_messages!
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :year_of_birth
    = f.text_field :year_of_birth
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p
    Already have an account?
    = link_to "Sign In", new_user_session_path
  .actions
    = f.submit "Sign up", :class => "btn btn-primary"
