!!!
%html{:lang => "en"}
  %head
    %title JRuby Mahout Movies
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = javascript_include_tag "application"
  %body.movies
    .container.main
      .navbar
        .navbar-inner
          %ul.nav
            %li
              %a{ :href => '/', :class => 'brand' } JRuby Mahout Movies
          %ul.nav.pull-right
            - if user_signed_in?
              %li= link_to "Profile", profile_path
              %li= link_to "Sign out", destroy_user_session_path, :method => :delete
            - else
              %li= link_to "Sign Up", new_user_registration_path
              %li= link_to "Sign In", new_user_session_path
      = yield
      .well.centered
        %p
          &copy; Vasily Vasinov. This demo site is part of the
          %a{ :href => "https://github.com/vasinov/jruby_mahout" }JRuby Mahout
          open source project.
        %p
          The original Movielens dataset is from
          %a{ :href => "http://www.grouplens.org" }GroupLens research group
        %p
          The dataset used in this demo includes data from
          %a{ :href => "http://www.imdb.com" }IMDb website
          and
          %a{ :href => "http://www.rottentomatoes.com" }Rotten Tomatoes website